* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color: white;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.sistema {
    position: relative;
    width: 500px;
    height: 500px;
    margin-bottom: 20px;
}

.planeta {
    width: 150px;
    height: 150px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lua {
    width: 40px;
    height: 40px;
    background-color: #ecf0f1;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: -70px 50%;
    animation: orbitar 5s linear infinite;
}

@keyframes orbitar {
    from {
        transform: rotate(0deg) translateX(70px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(70px) rotate(-360deg);
    }
}

.informacoes {
    text-align: center;
}
