body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

.container {
    position: relative;
}

.planet {
    width: 100px;
    height: 100px;
    background-color: blue; /* Cor do planeta */
    border-radius: 50%;
    position: relative;
    animation: rotate 10s linear infinite;
}

.moon {
    width: 30px;
    height: 30px;
    background-color: gray; /* Cor da lua */
    border-radius: 50%;
    position: absolute;
    top: -15px; /* Para centralizar a lua */
    left: 100px; /* Distância do planeta */
    animation: orbit 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(50px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(50px) rotate(-360deg);
    }
}
